body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    user-select: none;
}

div.topContainer {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: #eeeeee 0px 0px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.topContainer>h1 {
    margin: 5px 0px 10px 0px;
}

div.contentContainer {
    display: flex;
    width: 100%;
}

button {
    background-color: #fff;
    border: none;
    border-radius: 0px 5px 0px 5px;
    outline: none;
    margin-right: 10px;
    transition: all linear 0.1s;
    padding: 5px 10px;
}

button.bigButton {
    padding: 15px 30px;
}

button:hover {
    box-shadow: #00ee00 0px 0px 5px;
}

button:active,
button.active {
    background-color: #00ee00;
    color: white;
}

.gameContainer {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.gameContainer .winContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
}

.gameContainer .winContainer.active {
    display: flex;
}

.gameContainer>.gameStateContainer {
    height: 50px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gameContainer>.tilesContainer {
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: whitesmoke;
    border-radius: 5px;
}

.winContainer.active+.tilesContainer {
    display: none;
}

.gameContainer>.tilesContainer>#tilesRoot {
    width: 100%;
    height: 100%;
}

.gameContainer>.tilesContainer>#tilesRoot>.tilesContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.gameContainer>.tilesContainer>#tilesRoot>.tilesContent>div {
    margin: 2px;
    background: white;
    box-shadow: #00ee00 0px 0px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background ease 0.3s;
    font-size: 32pt;
    font-weight: bold;
}

.gameContainer>.tilesContainer>#tilesRoot>.tilesContent>div>div {
    opacity: 0;
    transition: opacity ease 0.3s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameContainer>.tilesContainer>#tilesRoot>.tilesContent>div.active {
    background: #00ee00;
    color: white;
}

.gameContainer>.tilesContainer>#tilesRoot>.tilesContent>div.destroyed {
    opacity: 0;
}

.gameContainer>.tilesContainer>#tilesRoot>.tilesContent>div.active>div {
    opacity: 1;
}

.playerContainer {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.playerContainer>#playerRoot {
    width: 100%;
    height: 50px;
}

.playerContainer>#playlistRoot {
    width: 100%;
    height: calc(100% - 50px);
}